extends ../layouts/main

block content
	div(class="large-8 columns")
		h2= template.name

		ul.breadcrumbs
			li
				a(href="/") Melone
			li
				a(href="/templates") Templates
			li.current
				a(href="/templates/" + template.id)= template.name

		a.button(href="/templates/edit/" + template.id)
			i.foundicon-edit
			span Edit Template

		h3 Description
		div.panel
			p= template.description

		h3 HTML
		div.panel!= template.html

		h3 Plain
		div.panel!= template.plain.replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1<br />$2')


block footer
	script(src="/js/ckeditor/ckeditor.js")